{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wllmrt_prueba</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{%static 'css/pantalla_inicial.css'%}">
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <a href="/">Muro Mercado</a>
          </h1>
          <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Buscar producto" id="inpt_busqueda">
              <span class="icon is-medium is-left">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <div class="control">
              <a class="button is-primary" id="btn_buscaProducto">
                Buscar
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% block content %}
    {% endblock %}
    <section class="section oculto" id="section_mensajeBuscando">
      <div class="container">
        <article class="message is-info has-text-centered">
          <div class="message-body">
            <strong>Buscando resultados ...</strong>
            <div class="fa-3x"><i class="fas fa-spinner fa-pulse"></i></div>
          </div>
        </article>
      </div>
    </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{%static 'js/eventos.js'%}"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </body>
</html>
