{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wllmrt_prueba</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{%static 'css/pantalla_inicial.css'%}">
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Muro Mercado
          </h1>
          <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Buscar producto">
              <span class="icon is-medium is-left">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <div class="control">
              <a class="button is-primary">
                Buscar
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          {% for prod in items %}
          <div class="column is-one-fifth">
            <div class="card" >
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://{{ prod.image }}" alt="">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <p class="subtitle is-6">{{ prod.brand }}</p>
                  <h5 class="title is-5">{{ prod.description }}</h5>
                  <h4 class="title is-4 help is-info">${{ prod.price|intcomma }}  <!--<span class="tag is-success">50%</span>--></h4>
                  <p class="subtitle is-6 oculto"><s>${{ prod.price|intcomma }}</s></p>
                  <div class="control">
                    <button class="button is-primary">Ver Producto</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </body>
</html>
